<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<?php
$attributeOptions = array();
if ($_product->isConfigurable()) {
    $productAttributeOptions = $_product->getTypeInstance(true)->getConfigurableAttributesAsArray($_product);
    foreach ($productAttributeOptions as $productAttribute) {
        foreach ($productAttribute['values'] as $attribute) {
            $attributeOptions[$productAttribute['label']][$attribute['value_index']] = $attribute['store_label'];
        }
    }
}
$prodAttributeSet = Mage::getModel('eav/entity_attribute_set')->load($_product->getAttributeSetId())->getAttributeSetName();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="container clearfix">
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<?php if ($prodAttributeSet != "Hair Zone Product" && $_product->getSku() != "Wigs"): ?>
<div class="menu">
    <?php echo  $this->getLayout()->createBlock('cms/block')->setBlockId('step_by_step')->toHtml();?>
</div>
<div class="product-view">
<div class="product-essential">
<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post"
      id="product_addtocart_form"<?php if ($_product->getOptions()): ?>
      enctype="multipart/form-data"<?php endif; ?>>
    <?php echo $this->getBlockHtml('formkey') ?>
<div class="no-display">
    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
    <input type="hidden" name="related_product" id="related-products-field" value=""/>
</div>
<div class="step2-choose-length-weight clearfix">
    <div class="product-img-box">
        <?php echo $this->getChildHtml('media') ?>
    </div>
    <div class="item-right">
        <div class="product-shop">
            <div class="choose_weight_shop">
                <?php
                $_attribute = Mage::getSingleton('eav/config')->getAttribute('catalog_product', 'bdh_weight');
                if ($_attribute->usesSource()) {
                    $_options = $_attribute->getSource()->getAllOptions(false);
                }
                ?>
                <h1><span><?php echo $this->__("Choose Weight");?></span></h1>
                <ul>
                    <?php foreach($_options as $_key => $_option): ?>
                        <li value="<?php echo $_option['value'] ?>" class="<?php if($_key ==0){echo "weight-selected";}?>"><?php echo $_option['label'] ?></li>

                    <?php endforeach; ?>
                </ul>
                <span class="message_choose_weight"> <?php echo $this->__("Selector is for illustrative purposes only, actual hair length may vary in proportion to height and installation");?> </span>
                <script type="text/javascript">
                    jQuery(".choose_weight_shop ul li").click(function () {
                        var length_val = jQuery(".background-product li.line_selected").attr("data-length-line");
                        var weight_choose = jQuery(this).html();
                        if (length_val > 20 && weight_choose == "6oz") {
                            jQuery(".choose_weight_shop ul li").removeClass("weight-selected");
                            jQuery(this).addClass("weight-selected");
                            jQuery("#weight_chosen").html(weight_choose);
                            jQuery("#selection_lengthandweight span em").html(weight_choose);
                            jQuery(".product_attribute_option_link:[data-value=" + length_val + "]").trigger("click");
                            jQuery(".product_attribute_option_link:[data-value=" + weight_choose + "]").trigger("click");
                        } else if (length_val >= 0 && weight_choose == "4oz") {
                            jQuery(".choose_weight_shop ul li").removeClass("weight-selected");
                            jQuery(this).addClass("weight-selected");
                            jQuery("#weight_chosen").html(weight_choose);
                            jQuery("#selection_lengthandweight span em").html(weight_choose);
                            jQuery(".product_attribute_option_link:[data-value=" + length_val + "]").trigger("click");
                            jQuery(".product_attribute_option_link:[data-value=" + weight_choose + "]").trigger("click");
                        }
                    });
                </script>
            </div>
            <p class="bx-btm">
                Length: <span id="length_chosen">22"</span> Weight: <span id="weight_chosen">4oz</span>
                <a id="length_weight_select" href="javascript: void(0)">
                    <span><?php echo $this->__("SELECT");?></span>
                </a>
            </p>

            <?php if (!$this->hasOptions()): ?>
            <div class="add-to-box">
                <?php if ($_product->isSaleable()): ?>
                <?php echo $this->getChildHtml('addtocart') ?>
                <?php if ($this->helper('wishlist')->isAllow() || $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                    <span class="or"><?php echo $this->__('OR') ?></span>
                    <?php endif; ?>
                <?php endif; ?>
                <?php echo $this->getChildHtml('addto') ?>
            </div>
            <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php elseif (!$_product->isSaleable()): ?>
            <div class="add-to-box">
                <?php echo $this->getChildHtml('addto') ?>
            </div>
            <?php endif; ?>

        </div>
    </div>
</div>
<div class="clearer"></div>


<div class="step3-choose-colour clearfix" style="display: none;">
<h1><span><?php echo $this->__("Choose Color");?></span></h1>
<?php $_attribute_color = Mage::getSingleton('eav/config')->getAttribute('catalog_product', 'color');?>
<div class="item-left" attr-color = "<?php echo "color-swatch-attribute-".$_attribute_color->getAttributeID();?>">
    <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
		<?php echo $this->getChildChildHtml('product_options_wrapper', '', true, true) ?>
    <?php endif;?>
</div>
<div class="item-right">
    <div class="img-colour">
        <div class="bx-img" id="image_color_detail">
            <div class="bx-img-inner">
				<img src=""
					 title="" alt="Choose color">
				<p class="color-name"></p>
			</div>
        </div>
    </div>
    <div class="bx-btm">
        <div class="disclaimer"><?php echo $this->__("Image is representative of hair COLOR only");?></div>
        <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
        <?php echo $this->getChildChildHtml('product_options_wrapper_bottom', '', true, true) ?>
        <?php endif;?>
    </div>
</div>
<div style="clear:both;"></div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(".item-left dl:first dd,dt").hide();
		jQuery(".item-left dl:first").addClass("list-color");
        jQuery(".item-left dl:first dd:last").show();
        jQuery(".item-left dl:first dd:last div.input-box").hide();
        jQuery(".item-left dl:last dt").show();
		jQuery(".item-left dl:last").addClass("option-add-on");
        jQuery(".item-right .img-colour .bx-img").hide();
        jQuery(".step3-choose-colour .img-colour p.color-name").html(jQuery(".step3-choose-colour ul li:first a").attr("value-attribute"));
        ///-------click choose color-----------------////
        var color_id = jQuery(".item-left").attr("attr-color");
        jQuery("ul#"+color_id +" li").live("click",function(){
            var obj_color = jQuery(".item-right .img-colour #image_color_detail");
            var color_name = jQuery(this).find("span").attr("img-name");
            obj_color.show();
            obj_color.find("p.color-name").html(color_name);
            obj_color.find("img").attr("src",jQuery(this).find("img").attr("img-background"));
            jQuery("#breadcrumbs #selection_color span strong").html(color_name.substr(0, 14) + "...");
            jQuery(".add-to-cart .btn-cart").show();
            jQuery(".price-box").show();
            jQuery('html,body').animate({scrollTop:jQuery('#image_color_detail').offset().top}, 'slow');
            var color_value = jQuery(this).attr("attr_id");
            jQuery(".product_attribute_option_link:[data-value='" + color_value + "']").trigger("click");
        });
    });

</script>
<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery("#selection_style .step1-product-name").html("<?php echo $_product->getName();?>");
        jQuery(".col-main #breadcrumbs").show();
        jQuery("#selection_color").hide();
        jQuery(".item-right .price-box").hide();
        jQuery(".item-right .add-to-cart .btn-cart").hide();
        jQuery("#length_weight_select").click(function () {
            if (jQuery(".item-left dl").length > 1) {
                jQuery(".item-left dl:last dd").each(function () {
                    var dd_obj = jQuery(this);
                    dd_obj.find(".input-box").append('<ul id="new_select" class="div-product-custom-option"  name="' + jQuery(this).find('select').attr('name') + '"></ul>');
                    dd_obj.find('select option').each(function () {
                        var option_value = jQuery(this).val();
                        var option_name = jQuery(this).text().split(" +");
                        option_name = option_name[0];
                        var option_lable = jQuery(this).parent().parent().parent().prev().find("label").text();
                        jQuery(this).parent().attr("choose_select", "select_clips");
                        dd_obj.find('#new_select').append('<li value="' + option_value + '">' + option_name + '</li>');
                    });
                    dd_obj.find("#" + jQuery(this).find('select').attr('id')).hide();
                    jQuery("#new_select").attr("id", jQuery(this).find('select').attr('id') + "_option");
                });
                jQuery(".item-left dl:last dd:first").addClass("active");
                jQuery(".item-left dl:last dd:first").find("select:[choose_select='select_clips']").prev().html("$75 per bundle");

                jQuery(".item-left dl:last dt").live("click",function () {
                    if(jQuery(this).hasClass("active")){
                        jQuery(this).removeClass("active");
                        var value_qty = jQuery(this).next().find("select.product-custom-option option:eq(0)").val();
                        jQuery(this).next().find("select:[choose_select='select_clips']").val(value_qty).trigger('change');
                    }else{
                        jQuery(this).addClass("active");
                        var value_qty = jQuery(this).next().find("select.product-custom-option option:eq(1)").val();
                        jQuery(this).next().find("select:[choose_select='select_clips']").val(value_qty).trigger('change');
                    }

                });
                jQuery(document).mouseup(function (e) {
                    var container = jQuery(".div-product-custom-option");
                    if (!container.is(e.target)
                            && container.has(e.target).length === 0) {
                        container.hide();
                    }
                });

                jQuery("dd.active .radio_check").live("click", function () {
                    jQuery(this).parent().find(".div-product-custom-option").toggle();
                });
            }
            jQuery(".item-right .price-box").hide();
            jQuery(".item-right .add-to-cart .btn-cart").hide();
            jQuery(".step3-choose-colour").show();
            jQuery(".step2-choose-length-weight").hide();
            jQuery("#selection_color").show();
            jQuery("#breadcrumbs #selection_color span strong").html("...");
            jQuery(".menu_step_by_step li").removeClass("nav_active");
            jQuery(".menu_step_by_step li.step3").addClass("nav_active");
            jQuery(".step3-choose-colour li.first .choose_color").addClass("color_selected");
            var length_val = jQuery(".background-product li.line_selected").attr("data-length-line");
            var weight_choose = jQuery(".choose_weight_shop ul li.weight-selected").val();
            jQuery(".product_attribute_option_link:[data-value='" + length_val + "']").trigger("click");
            jQuery(".product_attribute_option_link:[data-value='" + weight_choose + "']").trigger("click");
        });
        jQuery("#selection_lengthandweight a").click(function () {
            jQuery(".step2-choose-length-weight").show();
            jQuery(".step3-choose-colour").hide();
            jQuery("#selection_color").hide();
            jQuery(".menu_step_by_step li").removeClass("nav_active");
            jQuery(".menu_step_by_step li.step2").addClass("nav_active");
        });
    });
</script>
</div>
</form>
<div class="overlay-fc"></div>
<div class="fancy-popupbox" style="position:absolute;display:none;">
    <div class="popup-text"></div>
</div>
</div>

</div>
    <?php echo $this->getChildHtml("bestseller.products"); ?>

    <?php else: ?>
    <?php if($_product->getSku() == "Wigs"){?>
        <div class="product-wig">
            <div class="product-essential">
                <div class="img_faq"><img src="<?php echo $this->getSkinUrl('images/slider/interior-header.jpg');?>" alt="" /></div>
                <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                    <?php echo $this->getBlockHtml('formkey') ?>
                    <div class="no-display">
                        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                        <input type="hidden" name="related_product" id="related-products-field" value="" />
                    </div>

                    <div class="product-shop">
                        <div class="product-name">
                            <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                        </div>
                        <?php echo $_product->getDescription();?>

                        <?php if (!$this->hasOptions()):?>
                        <div class="add-to-box">
                            <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                            <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                <span class="or"><?php echo $this->__('OR') ?></span>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php echo $this->getChildHtml('addto') ?>
                        </div>
                        <?php echo $this->getChildHtml('extra_buttons') ?>
                        <?php elseif (!$_product->isSaleable()): ?>
                        <div class="add-to-box">
                            <?php echo $this->getChildHtml('addto') ?>
                        </div>
                        <?php endif; ?>

                    </div>


                    <div class="clearer"></div>
                    <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('product_options_wrapper', '', true, true) ?>
                    <?php echo $this->getChildChildHtml('product_options_wrapper_bottom', '', true, true) ?>
                    <?php endif;?>
                    <script type="text/javascript">
                        jQuery(document).ready(function(){
                            jQuery(".product-wig dl:last dd").each(function () {
                                var dd_obj = jQuery(this);
                                dd_obj.find(".input-box").append('<ul id="new_select" class="div-product-custom-option"  name="' + jQuery(this).find('select').attr('name') + '"></ul>');
                                dd_obj.find('select option').each(function () {
                                    var option_value = jQuery(this).val();
                                    var option_name = jQuery(this).text();
                                    var option_lable = jQuery(this).parent().parent().parent().prev().find("label").text();
                                    if (option_value == "") {
                                        option_name = "Select Style";
                                        jQuery(this).val(0);
                                        jQuery(this).parent().attr("choose_select", "select_swigs");
                                    }
                                    dd_obj.find('#new_select').append('<li value="' + option_value + '">' + option_name + '</li>');
                                });
                                dd_obj.find("#" + jQuery(this).find('select').attr('id')).hide();
                                jQuery("#new_select").attr("id", jQuery(this).find('select').attr('id') + "_option");
                            });
                            jQuery('dd ul.div-product-custom-option li').live("click", function () {
                                jQuery(this).parent().hide();
                                jQuery(this).parent().parent().find("span.radio_check").html(jQuery(this).text());
                                var select_choose = jQuery(".product-wig dl:last dd").find('select').attr("choose_select");
                                var cur_select = jQuery(this).val();
                                if (select_choose == "select_swigs") {
                                    jQuery(this).parent().parent().find("select:[choose_select='select_swigs']").val(cur_select).trigger('change');
                                }
                            });
                            jQuery(".product-wigs .container #product_addtocart_form dl dd .input-box").click(function(){
                                jQuery(this).find("ul.div-product-custom-option").toggle();
                            });
                        });
                    </script>
                </form>
                <div class="overlay-fc"></div>
                <div class="fancy-popupbox" style="position:absolute;display:none;">
                    <div class="popup-text"></div>
                </div>
            </div>
        </div>
    <?php }else{?>
        <div class="product-view-hair-zone">
            <div class="product-essential">
                <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post"
                      id="product_addtocart_form"<?php if ($_product->getOptions()): ?>
                      enctype="multipart/form-data"<?php endif; ?>>
                    <?php echo $this->getBlockHtml('formkey') ?>
                    <div class="no-display">
                        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                        <input type="hidden" name="related_product" id="related-products-field" value=""/>
                    </div>
                    <div class="hairzone-choose clearfix">
                        <div class="hairzone-choose_color">
                            <p><span><?php echo $this->__("PLEASE SELECT A COLOR BELOW");?></span></p>
                            <div class="product-option">
                            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                            <?php echo $this->getChildChildHtml('product_options_wrapper', '', true, true) ?>
                            <?php endif;?>
                            </div>
                        </div>
                        <div class="hairzone-choose-length">
                            <p class='color-name'><span></span></p>
                            <ul class="list_attr_length">
                            </ul>
                            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                            <?php echo $this->getChildChildHtml("product_options_wrapper_bottom","",true,true);?>
                            <?php endif;?>
                        </div>
                        <script type="text/javascript">
                            jQuery(document).ready(function () {//
                                jQuery(".hairzone-choose-length").hide();

                                jQuery(".hairzone-choose-length .price-box").hide();
                                jQuery(".hairzone-choose-length .add-to-cart .qty").hide();
                                jQuery(".hairzone-choose-length .add-to-cart label").hide();
                                jQuery(".hairzone-choose_color .product-option dd,dt").hide();
                                jQuery(".hairzone-choose_color .product-option dl:first dd:first").show();
                                jQuery(".hairzone-choose_color .product-option dl:first dd:first .input-box").hide();
                                jQuery(".hairzone-choose_color .choose-color li").live("click", function () {
                                    jQuery(".product-option dl dd:last .super-attribute-select").prop("disabled", false);
                                    var color_val = jQuery(this).attr("attr_id");
                                    var color_name =jQuery(this).find("span.swatch-title").attr("img-name");
                                    var data_simple = new Array();
                                    jQuery.each(spConfig.config.subProductsAvailability, function (i, val) {
                                        if (color_val == val.attr_color_value) {
                                            data_simple.push({
                                                price:val.price_simple,
                                                length:val.attr_length,
                                                length_val:val.attr_length_value,
                                                currency:val.currency
                                            });
                                        }
                                    });
                                    var html = "<ul class='list_attr_length'>";
                                    data_simple = data_simple.sort(dynamicSort("length"));
                                    jQuery.each(data_simple, function (i, val) {
                                        html += "<li><a class='choose_length' title='" + val.length + "' value-attribute='" + val.length_val + "' href='javascript:void(0)'>" + val.length + '"' + "<span>" + val.currency + val.price +  "</span></a></li>";
                                    });
                                    html += "</ul>";
                                    console.log(html);
                                    jQuery(".hairzone-choose-length ul.list_attr_length").replaceWith(html);
                                    jQuery(this).addClass("color_selected");
                                    jQuery(".hairzone-choose-length .color-name span").html(color_name);
                                    jQuery(".hairzone-choose-length").show();
                                    jQuery(".hairzone-choose-length .add-to-cart").hide();
                                    jQuery(".product_attribute_option_link:[data-value=" + color_val + "]").trigger("click");
                                });

                                jQuery(".hairzone-choose-length li").live("click", function () {
                                    jQuery(".hairzone-choose-length li").removeClass("active");
                                    jQuery(this).addClass("active");
                                    jQuery(this).find(".choose_length").addClass("length_selected");
                                    var length_val = jQuery(this).find(".choose_length").attr("value-attribute");
                                    jQuery(".product_attribute_option_link:[data-value=" + length_val + "]").trigger("click");
                                    if (jQuery(".product-option dd.last").find(".product_attribute_option_link:[data-value=" + length_val + "]").length) {
                                        jQuery(".hairzone-choose-length .add-to-cart").show();
                                    }
                                    else {
                                        jQuery(".hairzone-choose-length .add-to-cart").hide();
                                    }
                                });
                            });
                        </script>

                    </div>
                    <div class="clearer"></div>
                    <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                    <?php endif;?>
                </form>
                <div class="overlay-fc"></div>
                <div class="fancy-popupbox" style="position:absolute;display:none;">
                    <div class="popup-text"></div>
                </div>
            </div>

        </div>
        <?php }?>
        </div>
        <?php endif; ?>
<script type="text/javascript">
    //<![CDATA[
    var productAddToCartForm = new VarienForm('product_addtocart_form');
    productAddToCartForm.submit = function (button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;

            if (url) {
                form.action = url;
            }
            var e = null;
//Start of our new ajax code
            if (!url) {
                url = jQuery('#product_addtocart_form').attr('action');
            }
            var data = jQuery('#product_addtocart_form').serialize();
            data += '&isAjax=1';
            jQuery('#ajax_loader').show();
            try {
                jQuery.ajax({
                    url:url,
                    dataType:'json',
                    type:'post',
                    data:data,
                    success:function (data) {
                        jQuery('#ajax_loader').hide();
                        //alert(data.status + ": " + data.message);
                        if (jQuery('.block-cart')) {
                            jQuery('.block-cart').replaceWith(data.sidebar);
                        }
                        if (jQuery('.header .links')) {
                            jQuery('.header .links').replaceWith(data.toplink);
                        }
                        jQuery('.popup-text').html(data.message);
                        jQuery('.fancy-popupbox').show();
                        jQuery('.popup-text').dialog({
                            height:150,
                            width:300,
                            modal:true});
                        jQuery(".ui-dialog-titlebar").hide();
                        setTimeout(function () {
                            window.location.href = "<?php echo Mage::getBaseUrl() . "shop.html";?>";
                        }, 2000);
                    }

                });

            } catch (e) {
            }
//End of our new ajax code
            this.form.action = oldUrl;
            if (e) {
                throw e;
            }
        }
    }.bind(productAddToCartForm);

    productAddToCartForm.submitLight = function (button, url) {
        if (this.validator) {
            var nv = Validation.methods;
            delete Validation.methods['required-entry'];
            delete Validation.methods['validate-one-required'];
            delete Validation.methods['validate-one-required-by-name'];
            // Remove custom datetime validators
            for (var methodName in Validation.methods) {
                if (methodName.match(/^validate-datetime-.*/i)) {
                    delete Validation.methods[methodName];
                }
            }

            if (this.validator.validate()) {
                if (url) {
                    this.form.action = url;
                }
                this.form.submit();
            }
            Object.extend(Validation.methods, nv);
        }
    }.bind(productAddToCartForm);
    //]]>
</script>
