<?php
/**
 * Category view template
 *
 * @see Mage_Catalog_Block_Category_View
 */
?>
<?php
    $_helper    = $this->helper('catalog/output');
    $_category  = $this->getCurrentCategory();
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->escapeHtml($_category->getName()).'" title="'.$this->escapeHtml($_category->getName()).'" /></p>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
?>
<?php if($_category->getName() == "Hair Zone") :?>
    <?php echo $this->getCmsBlockHtml() ?>
    <?php
        $subcats = $_category->getChildren();
        $subIds = explode(',',$subcats);
        $product = Mage::getModel('catalog/product')->getCollection()
            ->addAttributeToSelect('*')
            ->addAttributeToFilter('sku', "Wigs")
            ->load()->getFirstItem();
    ?>
<div class="hair-zone-page">
    <div>
        <ul class="sub-cat">
            <?php foreach ($subIds as $subID) : ?>
                <?php $_subCat = Mage::getModel('catalog/category')->load($subID); ?>
                <li class="cat-item">
                    <a href="<?php echo $_subCat->getUrl() ?>">
                        <img src="<?php echo $_subCat->getResizedImage(290,290) ?>"  />
                        <span><?php echo $_subCat->getName(); ?></span>
                    </a>
                </li>
            <?php endforeach; ?>
                <li class="cat-item">
                    <a href="<?php echo $product->getUrlPath(); ?>">
                        <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(290,290);?>"  />
                        <span><?php echo $product->getName(); ?></span>
                    </a>
                </li>
        </ul>
    </div>
</div>
<?php else: ?>
    <?php if($this->isContentMode()): ?>
        <?php echo $this->getCmsBlockHtml() ?>

    <?php elseif($this->isMixedMode()): ?>
        <?php echo $this->getCmsBlockHtml() ?>
        <?php echo $this->getProductListHtml() ?>

    <?php else: ?>
        <?php echo $this->getProductListHtml() ?>
    <?php endif; ?>
<?php endif; ?>