/*
* 	Owl Carousel Owl Demo Theme 
*	v1.24
*/
.owl-theme {
	margin: 0 -150px 20px;
	position: relative;
}

.owl-theme:after {
	background: url("../images/bg_shadow_top.png") repeat-x left top;
	width: 1260px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
}

.owl-theme .owl-controls {
	text-align: center;width:100%;
	position:absolute;left:0;bottom:0;
}

/* Styling Next and Prev buttons */
.owl-wrapper-outer {
	overflow: hidden;
}
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 31px;
	height: 4px;
	margin: 10px 2px;
	filter: Alpha(Opacity=30);/*IE7 fix*/
	opacity: 0.3;
	background: #fff;
	cursor: pointer;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background:#9a8a58;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */

.owl-theme .owl-item {
	float: left;
	position: relative;
	
}
.owl-theme .owl-item img {
	width: 100% !important;
}

.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}

.bx-shadow-top {
	background: url("../images/bg_shadow.png") repeat-x left bottom;
	width: 1260px;
	position: absolute;
	bottom: 0;
	height: 10px;
}

.owl-theme .item h1 {
	color: #9a8958;
	font-size: 80px;
	line-height: 1;
	font-family: 'baskerville';
}

.owl-item .bx-text{
	position: absolute;
	width: 480px;
	top: 70px;
	right: 150px;
	text-align: center;
	background: url("../images/slider-hair-icon.png") no-repeat top center;
	padding-top: 70px;
}

.hair_extension {
	color: #fff;
	font-size: 25px;
	margin: 0 0 5px !important;
}

.hair-label {
	display: inline-block;
	border-top: solid 1px #4b5058;
	padding: 10px 5px 0 !important;
	font-size: 18px;
	line-height: 22px;
}
