<?php
/**
 * Shopping cart template
 *
 * @see Mage_Checkout_Block_Cart
 */
?>
<div class="cart">
    <div class="page-title title-buttons">
        <div class="container clearfix"><h1><?php echo $this->__('Your Cart') ?></h1></div>
    </div>
	<div class="container clearfix">
		<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
		<?php echo $this->getChildHtml('form_before') ?>
		<form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post">
			<?php echo $this->getBlockHtml('formkey'); ?>
			<fieldset>
				<table id="shopping-cart-table" class="data-table cart-table">
					<col />
					<col width="17.71%" />
					<col width="15.9375%" />
					<col width="20.42%" />
					<col width="8%" />

				<?php $mergedCells = ($this->helper('tax')->displayCartBothPrices() ? 2 : 1); ?>
					<thead>
						<tr>
							<th rowspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('ITEM') ?></span></th>
							<?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
							<th rowspan="<?php echo $mergedCells; ?>" class="a-center"><span class="nobr"><?php echo $this->__('Move to Wishlist') ?></span></th>
							<?php endif ?>
							<th class="a-center" colspan="<?php echo $mergedCells; ?>"><span class="nobr"><?php echo $this->__('Item Price') ?></span></th>
							<th rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Qty') ?></th>
							<th class="a-center" colspan="<?php echo $mergedCells; ?>"><?php echo $this->__('Price') ?></th>
							<th rowspan="<?php echo $mergedCells; ?>" class="a-center"><?php echo $this->__('Remove') ?></th>
						</tr>
						<?php if ($this->helper('tax')->displayCartBothPrices()): ?>
						<tr>
							<th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
							<th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
							<th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
							<th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
						</tr>
						<?php endif; ?>
					</thead>


					<tbody>
					<?php foreach($this->getItems() as $_item): ?>
						<?php echo $this->getItemHtml($_item) ?>
					<?php endforeach ?>
					</tbody>
				</table>
				<div class="gp-total-btn">
					<div class="totals">
						<?php
							$block = $this->getLayout()->createBlock('checkout/cart_totals');
							echo $block->renderTotals();
						?>
					</div>
					<div class="btn-group">
						<?php
							$blockOPLink = $this->getLayout()->createBlock('checkout/onepage_link');
						?>
						<button type="submit" name="update_cart_action" value="update_qty" title="<?php echo $this->__('Update Cart'); ?>" class="button btn-update"><span><span><?php echo $this->__('Update Cart'); ?></span></span></button>
						<?php if ($blockOPLink->isPossibleOnepageCheckout()):?>
							<button type="button" title="<?php echo $blockOPLink->__('Go to Checkout') ?>" class="button btn-proceed-checkout btn-checkout<?php if ($blockOPLink->isDisabled()):?> no-checkout<?php endif; ?>"<?php if ($blockOPLink->isDisabled()):?> disabled="disabled"<?php endif; ?> onclick="window.location='<?php echo $blockOPLink->getCheckoutUrl() ?>';"><span><span><?php echo $this->__('Go to Checkout') ?></span></span></button>
						<?php endif?>
						<!--[if lt IE 8]>
						<input type="hidden" id="update_cart_action_container" />
						<script type="text/javascript">
							//<![CDATA[
										Event.observe(window, 'load', function()
										{
											// Internet Explorer (lt 8) does not support value attribute in button elements
											$emptyCartButton = $('empty_cart_button');
											$cartActionContainer = $('update_cart_action_container');
											if ($emptyCartButton && $cartActionContainer) {
												Event.observe($emptyCartButton, 'click', function()
												{
													$emptyCartButton.setAttribute('name', 'update_cart_action_temp');
													$cartActionContainer.setAttribute('name', 'update_cart_action');
													$cartActionContainer.setValue('empty_cart');
												});
											}

										});
									//]]>
									</script>
									<![endif]-->
					</div>
				</div>
				<script type="text/javascript">decorateTable('shopping-cart-table')</script>
			</fieldset>
		</form>
		<div class="cart-collaterals clearfix">
			<div class="col2-set">
				<div class="col-1">
					<?php echo $this->getChildHtml('coupon') ?>
				</div>
			</div>

		</div>
	</div>
</div>
