<?php
$productCollection = Mage::getModel('catalog/product')->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('home_page_best_seller', '1')->addAttributeToFilter('type_id', array('eq' => 'configurable'));

$product = $productCollection->getFirstItem();
$imgUrl = Mage::helper('catalog/image')->init($product, 'image')->resize(175,160);
?>
<?php if($product->getId()):?>
<div id="home_sale">
    <span class="stick">Sale</span>

    <a class="bx-left" href="javascript:void(0)"><img src="<?php echo $imgUrl  ?>" alt="<?php echo $product->getName(); ?>" /></a>

    <div class="bx-right">
        <h2 class="product-name"><a href="javascript:void(0)"><?php echo $product->getName(); ?></a></h2>
        <a class="shop-now" href="<?php echo Mage::getBaseUrl() ?>shop.html"><span>Shop Now</span> </a>
    </div>
    <div style="clear:both;"></div>
</div>
<?php endif;?>